<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert_school</title>
</head>
<body>
    <center>
        <h1>Insert_school</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="scn">schoolname</label>
            <input type="text" name="scn" id="scn"><br> <br>

            <label for="pn">principal</label>
            <input type="text" name="pn" id="pn"><br> <br>
            
            <label for="sl">schoollocation</label>
            <input type="text" name="sl" id="sl"><br> <br>

            <label for="submit"></label>
            <input type="submit"><br> <br>

        </form>
    </center>
</body>
</html>